*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
  overflow-y: hidden;
}

#root{
  height:100%;
}

.App{
  height: 100vh;
  background-color: #023047;
  color: #fff;
}

.btnUp{
  margin-top: -1%;
}

.bannerBox{
  height:50px;
  width:300px;
  border: 1px solid #FFB703;
  border-radius: 12px;
}

.bannerparent{
  position: relative;
  border: 1px solid gray;
  left:24.5%;
  border-radius: 12px;
}

.formCard{
  margin-top: -10.5%;
}

.general{
  height:50vh;
  border: 1px solid gray;
  width:80%
}

.generalChild{
  width:30%;
}

.generalChild p{
  width:inherit;
  margin: auto;
}

.apiGen{
  position: relative;
  left: 40%;
}

/* .states{
  margin-left: -14%;
} */

/* .howImg{
  margin-top: -6%;
} */

/* .abtImg{
  margin-top: -7%;
} */

.searchQuery{
  margin-left: -6% !important;
}

footer{
  position:fixed;
  bottom: 0;
  width:100%
}















@media screen and (max-width: 700px) {
  .bannerBox{
    width: auto;
  }
  
}

@media screen and (max-width: 900px){
  body{
    overflow-y: scroll;
  }

  .App{
    height: auto;
  }
}